{% extends "principal/base.html" %}
{% block contenido %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            {% for competicion in competicion_list|dictsort:"nombre" %}
                <!-- Información de competicion -->
                <div class="card mt-3">
                    <div class="card-body text-center">
                        <h6 class="card-title">
                            <a href="{% url 'competicion_detail' competicion.id %}">
                                {{ competicion }}
                            </a></p>
                        </h6>
                        <p><b>Lugar:</b> {{ competicion.lugar }}</p>

                        {% if competicion.equipo.responsable == request.user %}
                            <p class="card-text">
                                <small class="text-muted">
                                    <a style="color: rgb(190, 8, 8);" href="{% url 'borrar_competicion' competicion.id %}">Borrar Competicion</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </small>
                                <small class="text-muted">
                                    <a style="color: green;" href="{% url 'modificar_competicion' competicion.id %}">Modificar Competicion</a>
                                </small>
                            </p>
                        {% endif %}
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
