{% extends "principal/base.html" %}
{% block contenido %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
                <div class="card mt-3">
                    <div class="card-body text-center">

                    <h5 class="mt-3">Equipos que juegan en la '{{ competicion.nombre }}'</h5>
                    <ul>
                        {% for equipo in competicion.equipos.all %}
                        <li style="list-style: none;">
                            <a href="{% url 'equipo_detail' equipo.id %}">
                                {{ equipo.nombre }}
                            </a></p>
                        </li>
                        {% endfor %}
                    </ul>
                    <p><b>Lugar:</b> {{ competicion.lugar }}</p>
                    </div>
                    {% if competicion.equipo.responsable == request.user %}
                        <p class="card-text">
                            <small class="text-muted">
                                <a style="color: rgb(190, 8, 8);" href="{% url 'borrar_competicion' competicion.id %}">Borrar Competicion</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </small>
                            <small class="text-muted">
                                <a style="color: green;" href="{% url 'modificar_competicion' competicion.id %}">Modificar Competicion</a>
                            </small>
                        </p>
                    {% endif %}
                

                    
                </div>
        </div>
    </div>
</div>
{% endblock %}
